/*
** Classes de gestion des couleurs
*/
.blue1 { color: #568EB6;}
.green { color: #9EC630; }
.gray  { color: #BFBFBF; }
.blue  { color: #4284B0; }
.orange{ color: #FFBB40; }

.bg-blue1 { background-color: #568EB6; color: white; }
.bg-green { background-color: #9EC630; color: white; }
.bg-gray  { background-color: #BFBFBF; color: white; }
.bg-blue  { background-color: #4284B0; color: white; }
.bg-orange{ background-color: #FFBB40; color: white; }
.bg-maroon{ background-color: maroon; color: white; }

.bg-light-grey { background-color: #f9f9f9; color: grey }

.hidden { visibility: hidden; /* display:none; */ }

.impair { background-color: #f9f9f9; }
.pair { background-color: white; }

.bold { font-weight: bold; }
.normal { font-weight: normal; }

/*
* { padding: 0; margin: 0; }
*/

body {
	margin: 0;
	padding: 0;
	font: .70em/1.5em  Verdana, Tahoma, Helvetica, sans-serif;
	color: #666666; 
	background-color: #A9BAC3;
	background-position:100% 17px;
/*	text-align: center;
	border-top: 6px solid #9EC630; */
}

a.white { 
	margin: 0; 
	font: bold 1em Arial, Sans-serif; 
	background: #FFF;
	color: grey;
	text-decoration: none;
}

a.white:hover, a.white:focus {
	color: #568EB6;
	text-decoration: underline;
}


/* ======
** Standardisation des tableaux.
*/
table.large {
	width: 100%;
}

td {
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	font-size: 12px;
}

th {
	padding-left: 3px;
	padding-right: 3px;
	font-weight: bold;
}

internal-table {
	border: none;
}

table.espace-interne-10 {
	border-collapse: collapse;
	border-spacing: 10px;
}

table td.espace-interne-10 {
	padding: 10px 2px 10px 2px;
}


/* =======
** Standardisation des Images
*/
img {
	border: 2px solid #CCC;
}

img.no-border {
	border: none;
}

img.icon {
	padding: 3px 3px 3px 3px;  
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border-color: #568EB6;
}

img.icon:hover, img.icon:focus {
	border-color: #BFBFBF !important;
	border-color: #BFBFBF;
}

img.float-right {
  margin: 5px 0px 5px 15px;  
}

img.float-left {
  margin: 5px 15px 5px 0px;
}

a.border img {  
  border: 2px solid #568EB6;
}

a.border:hover, a.border:hover img,
 a.border:focus, a.border:focus img {
  border: 2px solid #BFBFBF !important; /* IE fix*/
  border: 2px solid #BFBFBF;
}

a.simple img {
	border: 1px outset black;
	background: transparent;
	margin: 0px; padding: 3px;
}

a.simple:hover img, a.simple-selected img {
	border: none;
	text-decoration: none;
	border: 1px inset black;
	margin: 0px; padding: 3px;
}


/* =======================
** Eléments de formulaire
*/
form, #container {
	margin: 10px; padding: 0;
	border: 1px solid #BFBFBF; 
	background-color: #F0F0F0; /* #FAFAFA; */
}

form.simple {
	margin: 0; padding: 0;
	border: 0px; 
	background-color: transparent;
}

label {
	display: inline-table; /* block; */
	margin: 0; /* 5px 0; */
}

input, select {
	padding: 2px;
	border: 1px solid grey; /* #eee; */
	font: 12px Verdana, sans-serif;
	color:#777;
	margin: 0;
}

select {
	line-height: 22px;
	height: 22px;
}

select:focus, a:focus  {
  outline: none;
  outline-offset: 0px;

}

input {
	line-height: 14px;
	height: 14px;
}

label, input[type="text"], input[type="password"], input[type="checkbox"] {
	font: 12px Verdana, sans-serif;
	margin: 0;
/*	line-height: 14px; */
	height: 16px;
}

textarea {
	width:300px;
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}

input.button { 
	margin: 0; 
	font: bold 1em Arial, Sans-serif; 
	border: 2px solid #CCC;
	background: #FFF; 
	padding: 2px 3px; 
	color: #4284B0;	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 6px;
/*	margin: 6px 3px 6px 3px; */
}

input:hover, input:focus,
 select:hover, select:focus {
	border: 1px solid #9EC630;
/*	border-color: #568EB6; grey;
.blue1 { color: #568EB6;}
.green { color: #9EC630; }
.gray  { color: #BFBFBF; }
.blue  { color: #4284B0; }
.orange{ color: #FFBB40; }
*/
}

input.button:hover, input.button:focus {
	border: 2px solid #9EC630;
}

/***********************
	  LAYOUT
************************/

/* =================
** Layout principal
*/
#enveloppe {
	background: #FFF;
/*	width: 820px; */
	width: 90%;
	height: 100%;
	margin: 0 auto;
	text-align: left;
}


/*
** Layout du corps de la page
*/
#contenu-enveloppe {
	clear: both;
	margin: 0; padding: 0;
	background: #FFF;
	border-top: 0px solid #9EC630;
}


/* 
** Layout d'entête de la page
*/
#zoneEntete {
	position: relative;
	height: 90px;	
	width: 100%;
	background: #FFF;
	border-bottom: 7px solid #4284B0;
	margin:0;
	padding:0;
}

#zoneEntete h1#logo {
	position: absolute;
	margin: 0;
	padding: 0;
	font: bolder 4.1em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -2px;
	/* text-transform: uppercase; lowercase; */
	top: 0;
	left: 5px;	
}

#zoneEntete h2#slogan {
	position: absolute;	 
	top:47px; left: 95px;
	color: #666666;
	text-indent: 0px;
	font: bold 11px Tahoma, 'trebuchet MS', Sans-serif; 
	text-transform: none;	
}

#zoneEntete h2#login {
	position: absolute;	 
	top:12px; right: 5px;
	color: #666666;
	text-indent: 0px;
	font: bold 11px Tahoma, 'trebuchet MS', Sans-serif; 
	text-transform: none;	
}

#zoneEntete #zoneUser {
	position: absolute;	 
	top:37px; right: 5px;
/*	color: #666666; */
	text-indent: 0px;
	font: bold 11px Tahoma, 'trebuchet MS', Sans-serif; 
	text-transform: none;	
}

#zoneEntete h2#date {
	position: absolute;	 
	top:47px; right: 5px;
	color: #666666;
	text-indent: 0px;
	font: bold 9px Tahoma, 'trebuchet MS', Sans-serif; 
	text-transform: none;	
}

#zoneEntete form.zoneRecherche {
	position: absolute;
	top: 0;
	right: 0; /* -12px; */
}

#zoneEntete #zoneLangues {
	position: absolute;
	top: 0;
	right: 0;
}


/* 
** Layout du titre de la page
*/
#zoneTitre {
	position: relative;
	height: 40px;
   width: 100%;
	background: #FFF;
	border-bottom: 3px solid #4284B0;
	margin:0;
	padding:0;
}

#zoneTitre  span#icon-home {
   float: left;
   margin: 3px 6px 3px 6px;
}

#zoneTitre  span#titre {
   float: left;
   font-size:20px;
   padding: 9px 3px 9px 3px;
   color: #9EC630;
}

#zoneTitre  span#menu-icon-actions {
   float: right;
   margin: 6px 3px 6px 3px;
}

#zoneTitre  div#actions {
   float: right;
   margin: 6px 3px 6px 3px;
}

/* =======================================
** Colonnes du milieu du corps de la page
*/
#zoneMilieu {
	float: left;
	margin-left: 15px;
	padding: 0;
	width: 50%;		
}

#zoneMilieuComplet {
	float: left;
	padding: 0;
	width: 100%;		
	background: #fff; /* #f2f2f2; */
}

#alert, #success, #info, #msgSuccess {
	font-size: 12px;
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	width: 70%;
}

#success, #info, #msgSuccess {
	z-index: 100;
	position: absolute;
	top: 150px;
	margin: 0 8%;
}

#alert {
	border: 1px solid maroon; /* orange; */
	background-color: pink; /* #FAFAFA; */
	margin: 0 auto 20px;
}

#msgSuccess {
	top: 140px;
}

#success, #msgSuccess {
	border: 1px solid #A2D246; 
	background-color: #EBF8A4;
}

#info {
	border: 1px solid #bce8f1;
	background-color: #d9edf7;
	font-weight: normal;
}

.espace-20 {
	margin: 20px 20px 20px 20px;
}

.espace-10 {
	margin: 10px 10px 10px 10px;
}


/* ========= */
#zoneMilieuComplet table thead tr th, #zoneMilieuComplet table tfoot tr th {
   padding: 9px 3px 12px 3px;
   background-clip: border-box;
   background-origin: padding-box;
   background-size: auto auto;
}

#zoneMilieuComplet table thead tr th {
   color: #4284B0; /* 568EB6; */
   font-size: 15px;
}


#dashboard {
/*	float: left; */
	width: 95%;
	margin: 20px auto;
	padding: 30px 10px 30px 10px;
	border: 1px solid #BFBFBF; 
	background-color: #FAFAFA;
}

#dashboard p {
	margin: 0;
	padding: 6px;
}

#dashboard p.space {
	margin: 6px 0px 6px 0px;
	padding: 0;
}

#dashboard div.search_criteria {
	float: left;
	margin: 3px;
}

#dashboard table,
#dashboard div.search,
table.inner {
   border-width: 1px;
   border-style: solid;
   -moz-border-radius: 6px;
   -khtml-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
   border-top-color: #AFAFAF;
   border-left-color: #AFAFAF;
   border-right-color: #AFAFAF;
   border-bottom-color: #AFAFAF;
   background-color: #dfdfdf;
   margin: 10px 10px 10px 10px;
   width: 95%;
}

#dashboard table thead tr {
   border-width:1px;
   border-style:solid;
   -moz-border-radius:6px;
   -khtml-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   border-top-color: #AFAFAF;
   border-left-color: #AFAFAF;
   border-right-color: #AFAFAF;
   border-bottom-color: #AFAFAF;
}

#dashboard th, #dashboard .subtitle {
   text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
   padding: 3px;
}

#dashboard .subtitle, #dashboard .title {
	font-weight: bold;
}

#dashboard thead tr th, #dashboard thead tr td, #dashboard tfoot tr th, #dashboard .title {
   color: #333333;
   padding: 9px 4px 6px 4px;
   background-clip: border-box;
   background-origin: padding-box;
   background-size: auto auto;
}

#dashboard thead tr td {
   padding: 6px 4px 9px 4px;
}

#dashboard thead tr th, #dashboard .title {
   color: #4284B0; /* 568EB6; */
   font-size: 15px;
}

#dashboard tbody tr td {
	padding: 3px 4px 3px 4px;
	margin: 3px;
}

#dashboard tr {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
   
#dashboard table tbody tr.impair { background-color: #efefef; /* #f9f9f9; */ }
#dashboard table tbody tr.pair { background-color: white; }
#dashboard table tbody tr.surline:hover, tr.surline :hover { background-color: #d3f1eb; } /* dbf1ed bde3dc; } */

#dashboard table tbody th.order,
 #dashboard table tbody th.order-select,
 #dashboard table tbody th.order-desc {
 cursor: pointer;
 border-bottom: 3px solid white;
}

#dashboard table tbody th.order:hover,
 #dashboard table tbody th.order-select {
 color: #9EC630;
 border-bottom: 3px solid #9EC630; /* 9EC630 FFBB40 568EB6 */
}


#scroller {
   width: 100%;
	overflow: auto;
}

div.tableau_synthese {
	float: left;
	width: 30%;
}


/* 
** Layout du titre de la page
*/
#zonePiedPage {
	float: left;
	height: 40px;
	width: 100%;
	background: #FFF;
	border-top: 3px solid #4284B0;
	margin: 0;
	padding: 6px 0 0 0;
}

#zonePiedPage  .zonePiedPage-left {
	float: left;
	width: 45%;
	padding-left:3px;
}

#zonePiedPage  .zonePiedPage-right {
	float: right;
	width: 45%;
	padding-right:3px;
}

.button {
	text-decoration:none;
	font-size:11px!important;
	line-height:13px;
	cursor:pointer;
	border-width:1px;
	border-style:solid;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-khtml-box-sizing:content-box;
	box-sizing:content-box;
}

a.button { 
	font: bold 1em Arial, Sans-serif; 
	border: 1px solid #CCC;
	background: #FFF; 
	padding: 3px 6px 3px 6px;
	margin: 6px 3px 6px 3px;
	color: #4284B0;	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

a.button:hover, a.button:focus {
	border-color: #9EC630;
	text-decoration: none;
}

.align-left {
   text-align: left;
}

.align-right {
   text-align: right;
}

.align-center {
   text-align: center;
}

.align-middle {
   vertical-align: middle;
}

.div-left {
	float: left;
}

.div-right {
	float: right;
}

.table-center {
	margin:10px auto;
}

.table-spacing {
	border-spacing: 6px;
}

.table-min {
	width:40%;
}

.table-norm {
	width:50%;
}

.table-big {
	width:60%;
}

.table-max {
	width:100%;
}


.td-aere {
	padding: 3px 6px 3px 6px;
/*	border: 1px solid red; */
}