/*
** Standardisation des icônes de menu.
*/
.icon36 {
 height:36px;
 margin: 0; /* 14px 6px 0 0; */
 width:36px;
}

div.icon36 {
 float:left;
 height:36px;
 margin: 3px; /* 14px 6px 0 0; */
 width:36px;
}

#icon-post {
 background:transparent url("../Pictures/icons32.png") no-repeat -552px -5px;
}

#icon-home {
 background:transparent url("../Pictures/icons32.png") no-repeat -137px -5px;
}

#icon-media {
 background:transparent url("../Pictures/icons32.png") no-repeat -251px -5px;
}

#icon-link {
 background:transparent url("../Pictures/icons32.png") no-repeat -190px -5px;
}

#icon-pages {
 background:transparent url("../Pictures/icons32.png") no-repeat -312px -5px;
}

#icon-comments {
 background:transparent url("../Pictures/icons32.png") no-repeat -72px -5px;
}

#icon-themes {
 background:transparent url("../Pictures/icons32.png") no-repeat -11px -5px;
}

#icon-plugins {
 background:transparent url("../Pictures/icons32.png") no-repeat -370px -5px;
}

#icon-users {
 background:transparent url("../Pictures/icons32.png") no-repeat -600px -5px;
}

#icon-tools {
 background:transparent url("../Pictures/icons32.png") no-repeat -432px -5px;
}

#icon-options {
 background:transparent url("../Pictures/icons32.png") no-repeat -492px -5px;
}

#icon-access {
 background:transparent url("../Pictures/icons32.png") no-repeat -659px -5px;
}


/*
** Standardisation des petites icônes.
*/
.icon10 {
/* float:left; */
 height:10px;
 margin: 0; /* 14px 6px 0 0; */
 width:10px;
}

.icon28 {
 float:left;
 width:28px;
 height:28px;
}

#icon-close:hover {
 background:transparent url("../Pictures/xit.gif") no-repeat -10px 0px;
}
#icon-close {
 background:transparent url("../Pictures/xit.gif") no-repeat 0px 0px;
}

#menu-icon-themes {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -1px -33px;
}
#menu-icon-themes:hover {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -1px -1px;
}

#menu-icon-comments {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -31px -33px;
}
#menu-icon-comments:hover {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -31px -1px;
}

#menu-icon-home {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -61px -33px;
}
#menu-icon-home:hover {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -61px -1px;
}

#menu-icon-links {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -91px -33px;
}
#menu-icon-links:hover {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -91px -1px;
}

#menu-icon-media {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -121px -33px;
}
#menu-icon-media:hover {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -121px -1px;
}

#menu-icon-page {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -151px -33px;
}
#menu-icon-page:hover {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -151px -1px;
}

#menu-icon-plugins {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -181px -33px;
}
#menu-icon-plugins:hover {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -181px -1px;
}

#menu-icon-tools {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -211px -33px;
}
#menu-icon-tools:hover {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -211px -1px;
}

#menu-icon-options {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -241px -33px;
}
#menu-icon-options:hover {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -241px -1px;
}

#menu-icon-post {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -272px -33px;
}
#menu-icon-post:hover {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -272px -1px;
}

#menu-icon-users {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -301px -33px;
}
#menu-icon-users:hover {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -301px -1px;
}

#menu-icon-actions {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -331px -33px;
}
#menu-icon-actions:hover {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -331px -1px;
}

#menu-icon-access  {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -361px -33px;
}
#menu-icon-access:hover {
 background:transparent url("../Pictures/menu.png") no-repeat scroll -361px -1px;
}

/*
** Icones pour les options d'affichage.
*/
.view-switch {
 float:right;
 width:20px;
 height:20px;
}

#view-switch-list, #view-switch-list-current:hover {
 background:transparent url("../Pictures/list.png") no-repeat 0 0;
}

#view-switch-list-current, #view-switch-list:hover {
 background:transparent url("../Pictures/list.png") no-repeat -40px 0;
}

#view-switch-excerpt, #view-switch-excerpt-current:hover {
 background:transparent url("../Pictures/list.png") no-repeat -20px 0;
}

#view-switch-excerpt-current, #view-switch-excerpt:hover {
 background:transparent url("../Pictures/list.png") no-repeat -60px 0;
}
